{% extends "base.html" %}
{% block content %}
  <h1>Your Personalized Recommendations</h1>
  <div class="movie-list">
    {% for movie in recommended_movies %}
      <div class="movie-item">
        <a href="{% url 'movies:movie-detail' pk=movie.pk %}">
          <img src="{{ movie.poster }}" alt="{{ movie.title }}">
          <h3>{{ movie.title }}</h3>
        </a>
      </div>
    {% empty %}
      <p>No personalized recommendations available. Please rate some movies to get started!</p>
    {% endfor %}
  </div>
{% endblock %}
