<!-- templates/recommendations/recommendation_list.html -->
{% extends "base.html" %}
{% block content %}
    <a href="{% url 'recommendations:personalized-recommendations' %}" class="btn btn-primary">
        Personalized Recommendations
      </a>
  <h1>Recommended Movies</h1>
  <div class="movie-list">
    {% for movie in recommended_movies %}
      <div class="movie-item">
        <a href="{% url 'movies:movie-detail' pk=movie.pk %}">
          <img src="{{ movie.poster }}" alt="{{ movie.title }}">
          <h3>{{ movie.title }}</h3>
        </a>
      </div>
    {% empty %}
      <p>No recommendations available at the moment.</p>
    {% endfor %}
  </div>
{% endblock %}
